@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
/* General */

body {
    margin:0;
    padding:0;
    font-size: 1vw;
    font-family: BlinkMacSystemFont,"Segoe UI","Open Sans", sans-serif;
    background: #030b0b;
}

p {
    letter-spacing: 0px !important;
}

@-webkit-keyframes grow-width {
    from { width: 0vw; }
}

@keyframes grow-width {
    from { width: 0vw; }
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes move-from-right {
    from { margin-right: -20vw; }
}

@keyframes move-from-right {
    from { margin-right: -20vw; }
}

/* Navbar */

#navbar {
    position: fixed;
    height: 40px;
    width: 100%;
    background: rgba(255,255,255,0.85);
    z-index: 2;
    opacity: 0;
}

/* Header */

#header {
    /* height: 100vh; */
    width: 100%;
}

#header-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#header-img {
    width: 100%;
}

#header-main {
    position: absolute;
    top: 18vw;
}

#header-name {
    display: inline;
    margin-left: 5vw;
    color: white;
    font-size: 5.4em;
    font-weight: 100;
    cursor: pointer;
    animation: fade-in 2.5s 0s ease-in;
}

#header-btn-down {
    float: right;
    height: 3.5vw;
    width: 3.5vw;
    background: rgba(255,255,255,0.5);
    border-radius: 100vw;
    transition: margin-top 1s;
    animation: fade-in 3s 0s ease-in;
    margin-left: 4vw;
    margin-top: 3.2vw;
}

#header-btn-down:hover, #header-name:hover ~ #header-btn-down {
    margin-top: 4vw;
    cursor: pointer;
}

#header-btn-down-img {
    background-image: url('../images/header-btn-down.svg');
    background-size: contain;
    background-repeat: no-repeat;

    width: 1.75vw;
    height: 2vw;

    position: relative;
    top: 1.3vw;
    left: 0.87vw;
}

.header-btn {
    /* custom defined attribute( top: 0vw; ) */
    position: absolute;
    right: 0;
}

.header-btn-font {
    padding-right: 1.2vw;
    white-space: nowrap;

    margin: 0;
    width: 100%;

    color: rgba(255,255,255,0.9);
    font-size: 3em;
    font-weight: 100;

    text-align: center;
}

.header-btn-bar {
    /* custom defined attribute ( background: rgba(0,0,0,0) ) */
    position: absolute;
    right: 0;
    height: 2.9vw;
    width: 115%;
    margin-top: -0.6vw;

    animation: grow-width 2s 0s ease;
    transition: width 1s, background 1s;
}

.header-btn-bar:hover {
    width: 130%;
}


.header-btn-bar-end {
    position: absolute;
    width: 0.7vw;
    height: 2.9vw;
    background: rgba(255,255,255,0.3);
    left: 0;
}

#header a:hover {
    text-decoration: none;
    color: black;
}

#header-about {
    top: 2vw;
    cursor: pointer;
}

#header-about-font {
    animation: move-from-right 1.2s 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header-resume {
    top: 8.2vw;
    cursor: pointer;
}

#header-resume-font {
    animation: move-from-right 1.2s 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


#header-portfolio {
    top: 14.5vw;
    cursor: pointer;
}

#header-portfolio-font {
    animation: move-from-right 1.2s 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header-about-bar,
#header-resume-bar,
#header-portfolio-bar {
    background: rgba(255,255,255,0.4);
}

#header-about:hover #header-about-bar,
#header-resume:hover #header-resume-bar,
#header-portfolio:hover #header-portfolio-bar {
    background: rgba(255,255,255,0.6);
}

#header-empty-1 {
    top: 30.5vw;
    cursor: auto;
}

#header-empty-1-bar {
    width: 14vw;
    background: rgba(255,255,255,0.27);
}

#header-empty-2 {
    top: 36.3vw;
    cursor: auto;
}

#header-empty-2-bar {
    width: 9vw;
    background: rgba(255,255,255,0.23);
}

#header-empty-3 {
    top: 42.3vw;
    cursor: auto;
}

#header-empty-3-bar {
    width: 5vw;
    background: rgba(255,255,255,0.19);
}

#header-empty-4 {
    top: 48.6vw;
    cursor: auto;
}

#header-empty-4-bar {
    width: 2vw;
    background: rgba(255,255,255,0.15);
}

#header-empty-5 {
    top: 54.5vw;
    cursor: auto;
}

#header-empty-5-bar {
    width: 6vw;
    background: rgba(255,255,255,0.13);
}

#header-empty-6 {
    top: 60.5vw;
    cursor: auto;
}

#header-empty-6-bar {
    width: 12vw;
    background: rgba(255,255,255,0.11);
}

#header-empty-7 {
    top: 66.5vw;
    cursor: auto;
}

#header-empty-7-bar {
    width: 40vw;
    background: rgba(255,255,255,0.10);
}

/* Tablets & smaller */
@media (max-width: 767px) {

}


/******* Sections *******/

/*** All ***/

section {
    padding-top: 7vw;
}

.section-title {
    font-weight: 200;
    font-size: 4.5em;
    padding-left: calc(5vw - 15px); /* offset container-fluid padding */
    margin-bottom: 0;
    animation: fade-in 3s 0s ease-in;
}

.section-title-bar {
    width: 100vw;
    height: 2.9vw;
    margin-top: -0.4vw;
    margin-bottom: 4vw;
}

.section-content {
    padding-left: calc(5vw - 15px); /* offset container-fluid padding */
    padding-bottom: 4vw;
}

.section-content p {
    font-size: 1.5em;
}

/* About Section */

#about-section {
    background: white;
}

#about-section .section-title-bar {
    background: linear-gradient(90deg, #897470, #9b897c);
}

#about-section p {

}

/* Resumé Section */

#resume-section {
    color: white;
    overflow: hidden;
}

#resume-section-header {
    position: relative;
}

#resume-section-image-wrapper {
    position: fixed;
    top: 0;
    z-index: -1;
}

#resume-section-image {
    width: 100%;
    z-index: -1;
}

#resume-section .section-title {
    padding-top: 4vw;
    display: inline-block;
    cursor: pointer;;
}

#resume-section .section-title-bar {
    background: rgba(255,255,255,0.15);
    margin-bottom: 3vw;
}

#resume-btn-down {
    height: 3.5vw;
    width: 3.5vw;
    background: rgba(255,255,255,0.5);
    border-radius: 100vw;
    transition: top 1s;
    animation: fade-in 3s 0s ease-in;
    margin-left: 3.5vw;
    display: inline-block;
    position: relative;
    top: 1.2vw;
}

#resume-section-header a {
    color: white;
    text-decoration: none;
}

#resume-btn-down:hover, #resume-section-header:hover #resume-btn-down {
    top: 2vw;
    cursor: pointer;
}

#resume-btn-down-img {
    background-image: url('../images/resume-btn-down.svg');
    background-size: contain;
    background-repeat: no-repeat;

    height: 3vw;

    position: relative;
    top: 0.3vw;
    left: 0.28vw;
}

.resume-group-header {
    display: inline-block;
    background: rgba(255,255,255,0.15);
    text-align: center;
    vertical-align: bottom;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1vw;
    margin-bottom: 3vw;
    transition: background 1s;
}

.resume-group-header:hover {
    background: #f8f9fa5c
}

.resume-group h2 {
    font-weight: 300;
    font-size: 3em;
}

.resume-group h3 {
    font-weight: 400;
    font-size: 2em;
}

.resume-group h4 {
    font-weight: 300;
    font-size: 1.5em;
}

.resume-group span, .resume-group p, .resume-group ul {
    font-weight: 100;
    font-size: 1.25em;
}

.resume-point {
    margin-bottom: 2vw;
}


/* Portfolio Section */

#portfolio-section {
    background: white;
}

#portfolio-section .section-title-bar {
    background: linear-gradient(20deg, #012727, black);
    margin-top: 0;
}

/* Footer Section */

#footer {
    color: white;
}

#footer .footer-content {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 3vw;
}

#footer .contact h1 {
    font-weight: 100;
    font-size: 3em;
}

.contact-group-header {
    display: inline-block;
    background: rgba(255,255,255,0.15);
    text-align: center;
    vertical-align: bottom;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background 1s;
    margin-bottom: 1vw;
}

#footer .contact p {
    font-size: 1.2em;
    font-weight: 200;
    padding-top: 1vw;
}

#footer .contact a,
#footer .contact a:hover,
#footer .navigation a,
#footer .navigation a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#footer .navigation h2 {
    font-weight: 200;
    cursor: pointer;
    font-size: 2em;
    margin-bottom: 1vw;
}

#footer .navigation h2:hover {
    font-weight: 300;
}