/* General */

@-webkit-keyframes grow-width {
    from { width: 0vw; }
}

@keyframes grow-width {
    from { width: 0vw; }
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes move-from-right {
    from { right: -20vw; }
}

@keyframes move-from-right {
    from { right: -20vw; }
}

/* Header */

#header {
    height: 100%;
    width: 100%;
    position: absolute;
}

#header-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#header-img {
    width: 100%;
}

#header-name {
    display: inline;
    position: absolute;
    top: 18.1vw;
    left: 7vw;

    color: white;
    font-size: 6vw;
    font-weight: 100;
    letter-spacing: 1px;

    cursor: pointer;
    animation: fade-in 2.5s 0s ease-in;
}

#header-btn-down {
    position: absolute;
    top: 21.5vw;
    left: 35vw;

    height: 3.5vw;
    width: 3.5vw;

    background: rgba(255,255,255,0.5);
    border-radius: 100vw;

    transition: top 1s;
    animation: fade-in 3s 0s ease-in;
}

#header-btn-down:hover, #header-name:hover ~ #header-btn-down {
    top: 22.1vw;
    cursor: pointer;
}

#header-btn-down-img {
    background-image: url('../images/header-btn-down.svg');
    background-size: contain;
    background-repeat: no-repeat;

    width: 1.75vw;
    height: 2vw;

    position: relative;
    top: 1.3vw;
    left: 0.87vw;
}

/* shared by text/bar or empty text/bar header groupings */
.header-btn {
    /* custom defined attribute( top: 0vw; ) */
    position: absolute;
    right: 0;
    width: fit-content;
}

.header-btn-font {
    position: absolute;
    right: 1.2vw;
    bottom: -0.6vw;

    margin: 0;
    width: max-content;

    color: rgba(255,255,255,0.9);
    font-size: 3vw;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.header-btn-bar {
    /* custom defined attribute ( width: 0vw; ) */
    /* custom defined attribute ( background: rgba(0,0,0,0) ) */
    position: absolute;
    right: 0;
    height: 2.9vw;

    animation: grow-width 2s 0s ease;
    transition: width 1s, background 1s;
}

.header-btn-bar-end {
    position: absolute;
    width: 0.7vw;
    height: 100%;
    background: rgba(255,255,255,0.3);
}


#header-about {
    top: 4.5vw;
    cursor: pointer;
}

#header-about-font {
    animation: move-from-right 2s 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header-about-bar {
    width: 16vw;
    background: rgba(255,255,255,0.4);
}

#header-about:hover #header-about-bar {
    width: 19vw;
    background: rgba(255,255,255,0.6);
}


#header-resume {
    top: 11vw;
    cursor:pointer
}

#header-resume-font {
    animation: move-from-right 2s 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header-resume-bar {
    width: 18vw;
    background: rgba(255,255,255,0.4);
}

#header-resume:hover #header-resume-bar {
    width: 21vw;
    background: rgba(255,255,255,0.6);
}


#header-portfolio {
    top: 17.5vw;
    cursor: pointer;
}

#header-portfolio-font {
    animation: move-from-right 2s 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header-portfolio-bar {
    width: 19vw;
    background: rgba(255,255,255,0.4);
}

#header-portfolio:hover #header-portfolio-bar {
    width: 22vw;
    background: rgba(255,255,255,0.6);
}


#header-empty-1 {
    top: 30.2vw;
    cursor: auto;
}

#header-empty-1-bar {
    width: 14vw;
    background: rgba(255,255,255,0.27);
}

#header-empty-2 {
    top: 36.3vw;
    cursor: auto;
}

#header-empty-2-bar {
    width: 9vw;
    background: rgba(255,255,255,0.23);
}

#header-empty-3 {
    top: 42.3vw;
    cursor: auto;
}

#header-empty-3-bar {
    width: 5vw;
    background: rgba(255,255,255,0.19);
}

#header-empty-4 {
    top: 48.6vw;
    cursor: auto;
}

#header-empty-4-bar {
    width: 2vw;
    background: rgba(255,255,255,0.15);
}

#header-empty-5 {
    top: 54.5vw;
    cursor: auto;
}

#header-empty-5-bar {
    width: 6vw;
    background: rgba(255,255,255,0.13);
}

#header-empty-6 {
    top: 60.5vw;
    cursor: auto;
}

#header-empty-6-bar {
    width: 12vw;
    background: rgba(255,255,255,0.11);
}

#header-empty-7 {
    top: 66.5vw;
    cursor: auto;
}

#header-empty-7-bar {
    width: 40vw;
    background: rgba(255,255,255,0.10);
}